version: 2.1
orbs: 
  slack: circleci/slack@4.6.1
jobs:

  runner_build_test:
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run:
          name: Run Unit Tests
          command: |
            ls; echo "rootuser"; sleep 2; echo $image
      - store_artifacts:
          path: test-results
      - slack/notify:
          event: pass
          custom: |
            {
              "blocks": [
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "plain_text",
                      "text": "This deployment was completed successfully with $image ",
                      "emoji": true
                    }
                  ]
                }
              ]
            }
workflows:
  build_test_deploy:
    jobs:
      - runner_build_test